* {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  background-color: black;
}

#css {
  text-align: center;
  margin: 0 auto;
}

#bground {
  background-color: #81d8d0;
  width: 70px;
}

#baground {
  background-color: #81d8d0;
  width: 70px;
}

button {
  height: 60px;
  width: 170px;
}

#button {
  width: 343px;
}

#yeet {
  font-size: 3px;
  color: white;
}

#title {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.operations {
  color: #FF4136;
  background-color: #FF4136;
  width: 70px;
}

.features {
  color: #FFDC00;
  background-color: #FFDC00;
  width: 70px;
}

